.main {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 60%;
}

.ontopleft {
  position: absolute;
  left: 70px;
  z-index: 100;
  background-color: transparent;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.ontopright {
  position: absolute;
  right: 70px;
  z-index: 100;
  background-color: transparent;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.ontopcaption {
  position: absolute;
  top: 70%;
  z-index: 100;
  background-color: transparent;
  color: white;
  opacity: 0.5;
}

.heading {
  height: 20%;
  color: brown;
  font-size: 2rem;
}

.carousal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

.carousalImage {
  width: 70%;
  height: 70%;
  display: none;
}

.active {
  display: block;
}

.animation {
  animation: fadeIn 1s backwards;
}

.animation-leave {
}

@keyframes fadeIn {
  0% {
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 0;
  height: 400px;
  width: 400px;
}

.margin5 {
  margin: 5px;
  cursor: pointer;
}

img {
  box-shadow: 2px 5px 15px 13px rgb(240 141 141);
  z-index: 10;
}
